<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body style="font-size:20px; padding:50px;">
    <header>

    </header>

    <form action="/urls/login" method="POST" style="">
      <input id="email" type="email" name="email" placeholder="name" style="width: 300px">
      <input id="password" type="password" name="password" placeholder="name" style="width: 300px">
      <button type="submit">Log In</button>
    </form>



  </body>
</html>




