<!DOCTYPE html>
<html lang="en">
  <head>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./main.css">
  </head>

  <body>
  <header>
    <% include ./partials/_header %>
  </header>

    <div class="wrapper">
      <div class="subWrapper">

       <h1 class="signUpHeader">Sign Up to Start... </h1>
       <p class="shrinkText">shrinking your URLs</p>
        <form action="/register" method="POST">
          <label for="email">Email</label>
          <p><input id="email" type="email" name="email"></p>
          <label for="password">Create your Password</label>
          <p><input id="passwordinput" type="password" name="password"></p>
          <p><input type="submit" class="submitButton" value="Submit"></p>
        </form>
        </div>
      </div>

  </body>
</html>


<!-- <input id="passwordinput" type="password" name="password"style="width: 300px" -->

<!-- <input id="email" type="email" name="email"style="width: 300px">