<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
   <header>
  <% include ./partials/_header %>
</header>
  <ul>
    <% for(var key in urls) { %>
      <li>
        <a href="/urls/<%= key %>">
          <%= key %> - <%= urls[key].longURL %>
        </a>
      </li>
      <form method="POST" action="/urls/<%=key%>/delete"><button> Delete</button></form>
    <% }; %>
  </ul>


</body>
</html>
